:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  background-image: url("../../../public/images/football.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;color: #213547;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


